{% extends "base.html" %}
{% block title %}Reserve{% endblock %}
{% block content %}
    <h1 class="content-title">Make Reservation</h1>
    <form class="form" method="POST" id="reservation-form">
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <label for="time">Time</label>
        <input type="time" name="time" id="time">
        <label for="party-size">Party Size</label>
        <input type="number" placeholder="Amount of People" name="party-size" id="party-size">
        <label for="name">Name</label>
        <input type="text" placeholder="James" name="name" id="name" value="{{ user.name }}">
        <label for="email">Email</label>
        <input type="email" placeholder="example@email.com" name="email" id="email" value="{{ user.email }}">
        <label for="phone-number">Phone Number</label>
        <input type="text" placeholder="5555555555" name="phone-number" id="phone-number" value="{{ user.phone_number }}">
        <div class="credit-card-modal">
            <p>Due to high traffic on the date you selected we will charge a no show fee of $10</p>
            <label for="credit-card-number">Credit Card Number</label>
            <input type="text" placeholder="1234 5678 9012 3456" name="credit-card-number" id="credit-card-number">
            <label for="credit-card-expiration-month">Expiration Month</label>
            <input type="number" min="1" max="12" placeholder="9" name="credit-card-expiration-month" id="credit-card-expiration-month">
            <label for="credit-card-expiration-year">Expiration Year</label>
            <input type="number" min="2022" placeholder="2025" name="credit-card-expiration-year" id="credit-card-expiration-year">
            <label for="credit-card-cvv">CVV</label>
            <input type="text" placeholder="123" name="credit-card-cvv" id="credit-card-cvv">
        </div>
        <button class="content-btn" type="submit">Reserve</button>
        <input type="checkbox" name="register-user" id="register-user" style="display:none">
    </form>
    {% if not user.is_authenticated %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/reservationLogic.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/highTrafficFeeLogic.js') }}"></script>
{% endblock %}